{% load i18n %}

<ul class="nav nav-pills filter pull-left" id="sort">
  <li><a data-value="all" data-filter="type__in" class="selected" ng-click="single_choice_listener($event)">{% trans "Todo conteúdo" %}</a></li>
  <li><a data-value="layer" data-filter="type__in" ng-click="single_choice_listener($event)">{% trans "Camadas" %}</a></li>
  <li><a data-value="map" data-filter="type__in" ng-click="single_choice_listener($event)">{% trans "Mapas" %}</a></li>
  <li><a data-value="document" data-filter="type__in" ng-click="single_choice_listener($event)">{% trans "Documentos" %}</a></li>
</ul>