{% extends "maps/map_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load base_tags %}
{% load guardian_tags %}
{% load client_lib_tags %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block head %}
  {% if TWITTER_CARD %}
    {% include "base/_resourcebase_twittercard.html" %}
  {% endif %}
  {% if OPENGRAPH_ENABLED %}
    {% include "base/_resourcebase_opengraph.html" %}
  {% endif %}

  {% get_map_detail %}
  {{ block.super }}
{% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}
<div class="col-md-8  margin-zero right-pad-zero">
    <div class="gd-content-body map-details-info">
    <div id="boxTest" class="navbar-fixed-top" style="overflow:auto; width:450px;height: 600px;position: fixed;margin-top: 110px; z-index: 70;" >
            <ul class="list-group">
                {% if "download_resourcebase" in perms_list %}
                <li class="list-group-item">
                <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#download-map">{% trans "Baixar Mapa" %}</button>
                </li>
                {% endif %}
        
                <li class="list-group-item">
                    <a href="{% url "map_metadata_detail" resource.id %}">
                        <button class="btn btn-primary btn-md btn-block" >{% trans "Detalhes do Metadata" %}</button>
                    </a>
                </li>
        
                <div class="modal fade" id="download-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Baixar Mapa" %}</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% if links %}
                                {% for link in links %}
                                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        <ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                    </div>
                    </div>
                </div>
                </div>
                {% if "change_resourcebase" in perms_list  or "change_resourcebase_metadata" in perms_list %}
                <li class="list-group-item">
                <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#edit-map">{% trans "Editar Mapa" %}</button>
                </li>
                <div class="modal fade" id="edit-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Editar Mapa" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row edit-modal">
                        {% if "change_resourcebase_metadata" in perms_list %}
                        <div class="col-sm-3">
                            <i class="fa fa-list-alt fa-3x"></i>
                            <h4>{% trans "Metadata" %}</h4>
                            <a class="btn btn-default btn-block btn-xs" href="{% url "map_metadata" resource.id %}">{% trans "Assistente" %}</a>
                            <a class="btn btn-default btn-block btn-xs" href="{% url "map_metadata_advanced" resource.id %}">{% trans "Avançado" %}</a>
                        </div>
                        {% endif %}
                        {% if "change_resourcebase" in perms_list %}
                        <div class="col-sm-3">
                            <i class="fa fa-photo fa-3x"></i>
                            <h4>{% trans "Miniatura" %}</h4>
                            <a class="btn btn-default btn-block btn-xs" href="#" id="set_thumbnail">{% trans "Configurar" %}</a>
                        </div>
                        {% endif %}
                        {% if "change_resourcebase" in perms_list %}
                        <div class="col-sm-3">
                            <i class="fa fa-map-marker fa-3x"></i>
                            <h4>{% trans "Map" %}</h4>
                            <a class="btn btn-default btn-block btn-xs" href="{% url "map_edit" resource.id %}">{% trans "Editar" %}</a>
                            <a class="btn btn-danger btn-block btn-xs" href="{% url "map_remove" resource.id %}">{% trans "Remover" %}</a>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                    </div>
                    </div>
                </div>
                </div>
                {% endif %}
                <li class="list-group-item">
                <a href="{% url "map_view" resource.id %}" class="btn btn-default btn-md btn-block">{% trans "Visualizar Mapa" %}</a>
                </li>
                {% comment %}
                <li class="list-group-item">
                <a href="#" class="btn btn-default btn-md btn-block">{% trans "Imprimir Mapa" %}</a>
                </li>
                {% endcomment %}
        
                <li class="list-group-item">
                <h4 class="list-group-item-heading">{% trans "Camadas do Mapa" %}</h4>
                <p>{% trans "Este mapa usa as seguintes camadas:" %}</p>
                <ul class="list-unstyled">
                    {% for layer in resource.layer_set.all %}
                    {% ifnotequal layer.group 'background' %}
                    {% if layer.local %}
                    <li><a href="{% url "layer_detail" layer.name %}">{{ layer.layer_title }}</a></li>
                    {% else %}
                    <li>{{ layer.layer_title }}</li>
                    {% endif %}
                    {% endifnotequal %}
                    {% endfor %}
                </ul>
                </li>
        
                {% if documents.count > 0 %}
                <li class="list-group-item">
                <h4>{% trans "Documento relacionados com este mapa" %}</h4>
                <p>{% trans "Lista de Documentos relacionado com este mapa:" %}</p>
                <ul class="list-unstyled">
                    {% for document in documents %}
                    <li><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></li>
                    {% endfor %}
                </ul>
                </li>
                {% endif %}
        
                {% if "change_resourcebase_permissions" in perms_list %}
                <li class="list-group-item">
                <h4>{% trans "Permissões" %}</h4>
                <p>{% trans "Especificar qual usuário pode ver e modificar este mapa" %}</p>
                <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#_permissions">{% trans "Escolher permissões para o mapa" %}</button>
                </li>
                {% include "_permissions_form.html" %}
                {% endif %}
        
                <li class="list-group-item">
                <h4>{% trans "Copiar este mapa" %}</h4>
                <p>{% trans "Duplicar este mapa e modificar para seus próprios propósitos" %}</p>
                <a href="{% url "new_map" %}?copy={{ resource.id }}" class="btn btn-default btn-md btn-block">{% trans "Criar um novo mapa" %}</a>
                </li>
                {% if OGC_SERVER.default.BACKEND == 'geonode.qgis_server' %}
                <li class="list-group-item">
                    <h4>{% trans "Incorporar este mapa" %}</h4>
                    <p>{% trans "Incorporar este mapa ao seu site" %}</p>
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-default btn-block dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Incorporar Mapa <span class="caret"></span></button>
                        <ul class="dropdown-menu btn-block" id="embed-map-list">
                            <li id="embed-iframe-link">
                                <a href="#">Incorporar IFrame Link</a></li>
                            <li id="embed-widget-link">
                                <a href="#">Incorporar Widget Link</a></li>
                            <li>
                                <a href="{% url 'map_download_leaflet' resource.id %}">Baixar a pagina</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
        
        
                {% if resource.is_public and "change_resourcebase" in perms_list or resource.layer_group %}
                <li class="list-group-item">
                <h4>{% trans "Mapa WMS" %}</h4>
                <dl>{% if resource.layer_group %}
                    <dt>{% trans "Grupo de camadas WMS para camadas de mapa local" %}:</dt>
                    <dd><em>{{ resource.layer_group.catalog.name }}</em> ({% trans "em" %} <a href="{{ resource.layer_group.ows }}?service=WMS&request=GetCapabilities">{% trans "local OWS" %}</a>)</dd>
                    {% endif %}</dl>
                {% if "change_resourcebase" in perms_list %}
                <p>{% trans "Publicar camadas de mapas locais como grupo de camadas WMS" %}</p>
                <a id="layer-group" href="{%url "map_wms" resource.id %}" class="btn btn-default btn-md btn-block">{% trans "Publicar Mapa WMS" %}</a>
                {% endif %}
                <dl id="layer-group-dl"></dl>
                </li>
                {% endif %}
        
                {% include "base/_resourcebase_contact_snippet.html" %}
        
            </ul>
        
            </div>



    <div class="navbar-fixed-top" style="margin-top:155px;left: 90%;z-index: 60">
        <div class="row">
            <button onclick="expandBox()" type="button" class="btn btn-info btn-lg btn3d" title="Detalhes do metadado"><span class="glyphicon glyphicon-question-sign"
                        style="color:white"></span></button>
        </div>
    </div>
    <div id="embedded_map" class="navbar-fixed-top" style="top:70px;z-index: 50;position: fixed;">
        <div id="the_map"></div>
    </div>
    </div>
</div><!-- Fim col-md- 8-->
<div class="modal fade" id="embed-iframe" tabindex="-1" role="dialog" aria-labelledby="Embed Iframe"
aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel">{% trans "Incorporar Iframe" %}</h4>
       </div>
       <div class="modal-body">
           <p>Para incorporar este mapa, adicione o trecho de código a seguir e personalize suas propriedades (rolagem, largura, altura) com base nas suas necessidades para o seu site</p>
           <p style="font-weight: bold">
               &lt;iframe scrolling="yes" src="{{ SITEURL|slice:":-1" }}{% url "map_embed" resource.id %}"
               width="480px" height="360px"&gt;&lt;/iframe&gt;
           </p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" id="embed-widget" tabindex="-1" role="dialog" aria-labelledby="Embed Widget"
aria-hidden="true">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel">{% trans "Incorporar Widget" %}</h4>
       </div>
       <div class="modal-body">
           <p>Para incorporar este mapa, copie o seguinte trecho de código em sua página:</p>
           <pre id="embed-widget-body" style="font-size: 0.5em"></pre>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" data-clipboard-target="#embed-widget-body">{% trans "Copiar para área de transferência" %}</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
       </div>
   </div>
</div>
</div>

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DISPLAY_SOCIAL %}
{% include 'facebook_sdk.html' %}
{% endif %}
{% if request.user.is_authenticated %}
{% user_rating_js request.user resource "map" %}
{% else %}
{% overall_rating resource "map" as the_map_rating %}
{% endif %}
{% include 'rating.html' %}
<script type="text/javascript">
    $(document).ready(function () {
    post_url = '{% url 'map_embed_widget' resource.id %}';
    var formatted_data = "";
    $.post(post_url, function (data) {
    data = data.split("\n");
    data_row = data.length;
    for (var i=0; i < data_row;i++) {
        formatted_data += data[i] + "\n";
    }
    $('#embed-widget-body').text(formatted_data);
    });
    });
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
    alert("Codigo copiado");
    });
    clipboard.on('error', function(e) {
    alert("Oops.. alguma coisa deu errado :(");
    });
    $(function() {

    {% verbatim %}
    // Publish layer group
    // TODO: this should really not be inside a script tag...
    var $wmsBtn = $("#layer-group"),
    layerGroupElTpl;

    if ($wmsBtn.length > 0) {

    $wmsBtn.on("click", function(event) {
    event.preventDefault();

    $.ajax({
    type: "PUT",
    url: $wmsBtn.attr("href")
    })

    .done(function(data) {
    layerGroupElTpl = "<dt>Grupo de camadas WMS para camadas de mapa local:</dt> \
    <dd><em>{{layerGroupName}}</em> (on <a href='{{ows}}?service=WMS&request=GetCapabilities'>local OWS</a>)</dd>";
    $.each(data, function(key, value) {
    // client-side template hack
    layerGroupElTpl = layerGroupElTpl.replace("{{"+ key + "}}", value);
    });
    })

    .fail(function(){
    layerGroupElTpl = "<dt>Erro!:</dt> \
    <dd>Grupo de camada não pode ser criado.</dd>";
    })

    .always(function(){
    $("#layer-group-dl").html(layerGroupElTpl);
    });

    });
    };
    {% endverbatim %}


    });
    {% if DISPLAY_SOCIAL %}
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    {% endif %}
    $("#comment_submit_btn").click(function(event) {
    $.ajax({
    type: "POST",
    url: $("#form_post_comment").attr('action'),
    data: $("#form_post_comment").serialize(),
    success: function() {
    $('#form_post_comment_div').modal().find('form')[0].reset();
    $('#form_post_comment_div').modal('hide');
    $('#comments_section').load(window.location.pathname + ' #comments_section',
        function(){$(this).children().unwrap()})
    }
    });
    return false;
    });

    </script>
    {% include "_permissions_form_js.html" %}
    <script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/thumbnail.js"></script>
    <script type="text/javascript">
    $('#set_thumbnail').click(function(){
    createMapThumbnail();
    $('#edit-map').modal('toggle');
    });
    $('#embed-map-list li').click(function(){
    if ($(this).attr('id') === 'embed-iframe-link')
    {
    $('#embed-iframe').modal('toggle');
    }
    else if ($(this).attr('id') === 'embed-widget-link') {
    $('#embed-widget').modal('toggle');
    }
    });
    var state = "expanded";

function expandBox() {
    if (state == "expanded") {
        $('#boxTest').animate({
            'left' : -$( "#boxTest" ).width()    
            });
        state = "minimized";
    } else {
        if (state == "minimized") {
            $('#boxTest').animate({
                'left' : '0px'    
                });
            state = "expanded";
        }
    }
}
</script>

{% endblock %}
{% block footer %}{% endblock %}