{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account %}

{% block title %}{% trans "Resetar a senha" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Resetar a senha" %}</h2>
</div>
{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="row">
  <div class="col-md-8">
    <p class="lead">{% trans "Esqueçeu sua senha?" %}</p>
    <p class="lead">{% trans "Digite seu endereço de e-mail abaixo e enviaremos um e-mail para você redefini-lo." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}">
      <fieldset>
      {% csrf_token %}
      {{ form.as_p }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Resetar minha senha" %}</button>
        </div>
      </fieldset>
    </form>
    <p class="grid-spacer">{% blocktrans %}Caso você tenha problemas para redefinir sua senha, entre em contato conosco via <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
{% block extra_body %}
  <script>
    $("#id_email").focus();
  </script>
{% endblock %}
