{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Mudar a senha" %}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Mudar a senha" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">{% trans "Mude sua senha aqui" %}</p>
    <form method="POST" action="">
      <fieldset>
      {% csrf_token %}
      {{ form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Mudar minha senha" %}</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
