{% extends "cartoview/base.html" %}
{% load i18n %}
{% block title %} {{ block.super }} {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview/css/index.css">
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}cartoview/js/index.js"></script>

{% endblock %}
{% block body_directives %}ng-app="cartoview.index"{% endblock %}
{% block body %}
<div class="index-intro"  layout-padding layout="row" layout-wrap>
    <div layout-padding flex-gt-md="50" flex="100">
        <h1>GeoPortal</h1>
        <h2>Construa um site geoespacial em minutos com o GeoPortal</h2>
        <h2>Gerenciar aplicativos de mapeamento da Web do GIS</h2>
        <p>O GeoPortal permite a rápida implementação de aplicativos da Web espaciais fáceis de gerenciar e fáceis de usar</p>
        <p class="actions">
            <md-button class="md-raised" aria-label="{% trans "Join" %}" href="{% url "account_signup" %}">{% trans "Começar" %}</md-button>
            e gerenciar seus apps ou
            <md-button  class="md-raised md-primary" aria-label="{% trans "Download" %}" href="http://cartologic.com/cartoview/download/">
                {% trans "Download" %}</md-button>
            e intallar seu ambiente.
        </p>
    </div>
    <div flex-gt-md="50" flex="100">
        <img src="http://cartologic.com/cartoview/static/cartoview/img/cartoview-banner.png">
    </div>

</div>

{% endblock %}
