{% extends "geonode_base.html" %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block body %}
	<a href="{% url "profile_edit" user.username %}">{% trans "Back to edit your profile information" %}</a>
	<p>{% trans "Seu avatar atual: " %}</p>
    {% autoescape off %}{% avatar user %}{% endautoescape %}
    {% if not avatars %}
        <p>{% trans "Você ainda não fez o upload de um avatar. Por favor, faça o upload de um agora." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Enviar nova imagem" %}" /></p>
    </form>
{% endblock %}
